go 1.21.4

use (
	.
	./ArchiveFiles
	./DecryptDirRecursive
	./DecryptDirRecursivePartially
	./DeleteFiles
	./DownloadingMaliciousFileWithScript
	./Eic
	./EncryptDirRecursive
	./EncryptDirRecursivePartially
	./SecureDeleteFiles
)
