go 1.21.5

use (
	./ArchiveFiles
	./DecryptDirRecursive
	./DecryptDirRecursivePartially
	./Eic
	./EncryptDirRecursive
	./EncryptDirRecursivePartially
	./SecureDeleteFiles
	./StartupFolderNewFile
	./StartupFolderNewFile/enc
	./main
	./helpers
)
