go 1.21.5

use (
	./ArchiveFiles
	./Eicar
	./EncryptDecryptDirRecursive
	./EncryptDecryptDirRecursive/Decrypt
	./EncryptDecryptDirRecursive/Encrypt
	./EncryptDecryptDirRecursivePartially
	./EncryptDecryptDirRecursivePartially/Decrypt
	./EncryptDecryptDirRecursivePartially/Encrypt
	./MaliciousPayloadDownload
	./SecureDeleteFiles
	./SecureDeleteFiles/SecureDeleteFile
	./StartupFolderNewFile
	./StartupFolderNewFile/encr
	./helpers
	./main
)
